#formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: rebeccapurple;
    padding: 10px;
    
}

button:hover{
    scale: 1.05;
}